@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Eudoxus Sans', sans-serif;
  scroll-behavior: smooth;
}

:root {
  --primary-color: #1b6fdd;
  --primary-alt-color: #1b6fdd;
  --accent-color:  #f0c359;
  --accent-text-color: #ffc107;
  --background-color: #ecfeff;
  --text-color: black;
}

.accent-button {
  cursor: pointer;
  display: inline-block;
  opacity: 0.9;
  color: white;
  font-weight: 600;
  background: var(--primary-color);
  border-radius: 18px;
}

.accent-button:hover {
  opacity: 0.97;
}

.accent-button:active {
  opacity: 1;
}

.accent-button-disabled {
  cursor: pointer;
  display: inline-block;
  opacity: 0.3;
  color: white;
  background: var(--primary-color);
  border-radius: 18px;
}

.selected-tab {
  border-color: var(--primary-color);
  font-weight: 700;
}